.table-container {
  width: 95%;
  padding: 8px;
  /* border-radius: 10px; */
}

mat-button-toggle {
  background-color: #146c94;
  color: #f6f1f1;
}

mat-button-toggle-group {
  border: none;
}
mat-button-toggle:hover {
  background-color: #1c485c;
}

.mat-button-toggle-checked {
  background-color: #1c485c;
  color: white;
}

table {
  background-color: var(--color2);
}

.mat-column-name,
.mat-column-publisher,
.mat-column-upVotes,
.mat-column-downVotes,
.mat-column-netVotes,
.mat-column-numberOfLessons,
.mat-column-date,
.mat-column-delete {
  text-align: center;
}

.mat-mdc-row:hover .mat-mdc-cell {
  cursor: pointer;
  background-color: #146c94;
  color: #f6f1f1;
}

hr {
  background-color: #146c94;
  font-size: larger;
}
.course-header {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.paginator-container {

}

mat-paginator {
    border-radius: 20px;
    background-color: var(--color2);
}

.course-header h1 {
  color: #146c94;
  font-weight: bolder;
  font-size: 3rem;
}
