#LogoutBtn{
    padding: 30px;
    background-color: rgba(208, 4, 4, 0.856);
    color: white;
    font-size: 30px;
}

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.cardBox .card {
    position: relative;
    background: #146c94;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.5);
}

.cardBox .card:hover {
    background: #073a52;
    transition: 0.3ms;
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: #f6f1f1;
}

.cardBox .card .cardName {
    color: #ffffffad;
    font-size: 1.1rem;
    margin-top: 10px;
}

.cardBox .card .iconBx {
    font-size: 3.5rem;
    color: #999;
}