<section class="cards-section">
  <div class="cardBox">
    <div class="card">
      <div>
        <div class="numbers">{{ visitors }}</div>
        <div class="cardName">Visitor</div>
      </div>

      <div class="iconBx">
        <span class="icon"><i class="bi bi-people-fill"></i></span>
      </div>
    </div>

    <div class="card">
      <div>
        <div class="numbers">{{ courses }}</div>
        <div class="cardName">Course</div>
      </div>

      <div class="iconBx">
        <span><i class="bi bi-camera-reels-fill"></i></span>
      </div>
    </div>

    <div class="card">
      <div>
        <div class="numbers">{{ creators }}</div>
        <div class="cardName">Creator</div>
      </div>

      <div class="iconBx">
        <span><i class="bi bi-person-video"></i></span>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button mat-raised-button id="LogoutBtn" (click)="logout()">Logout</button>
  </div>
</section>